*{
		margin: 0;
		padding: 0;
	}
#header{
	display: flex;
	background-color: blue;
	width:100%;
}
#carouselExampleIndicators{
	height: 300px;
}
#img{
	height: 300px;
}
#list{

	color: gray;
	font-family: times new roman;
	font-size: 26px;
}
.listado{
	border-bottom: 1px solid gray;
}
#img_obs{
	height: 100px;
}
#desayuno{
	color: #1D98F1;
}
.modal{
  padding-top: 5%;
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,0.7);
  display: none;
  justify-content: center;
  text-align: center;
}
.bodyModal{
  margin:0px auto;

  width: 50%;
  justify-content: center;
  text-align: center;

  height: 50%;
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flex;
  display: -o-inline-flex;
  display: inline-flex;
  align-items: center;
  background-color: #fff;
  display: block;
}
h6{
	text-align: left;
}
#min{
color: #6F777C;
}
#boton{
	text-align: left;
	align-items: left;
	align-content: left;
}
#tex_area{
	width: 100%;
}
#cuerpo{
	display: flex;
}



























	/*@media ( ancho mínimo : 601 px ) y ( ancho máximo : 1000 px ) {
				cuerpo {
					Familia tipográfica: Arialñ , sans-serif;
				}
				a un lado {
					flotador : izquierda;
					ancho : 40 % ;
					claro : ambos;
				}
				sección {
					flotador : izquierda;
					ancho : 60 % ;
				}
				# formacion {
					ancho : 100 % ;
				}
				# experiencia {
					ancho : 100 % ;
				}
			}
			@media ( ancho máximo : 600 px ) {
				
				a un lado {
		
					ancho : 100 % ;
					claro : ambos;
				}
				sección {
				
					ancho : 100 % ;
				}
				# formacion {
					ancho : 100 % ;
				}
				# experiencia {
					ancho : 100 % ;
				}
			}*/